{% extends "base.html.twig" %}

{% block title %}Employees list{% endblock %}

{% block content %}
    <h1>Employees list</h1>
    <form method="get">
        <div class="mb-3">
            <input type="text" class="form-control" value="{{ chiefName }}" placeholder="Имя начальника" name="chiefName">
        </div>
        <div class="mb-3">
            <input type="submit" class="btn btn-primary">
        </div>
    </form>
    {% for employee in data.items %}
        <ul>
            <li><b>ID:</b> {{ employee.id }}</li>
            <li><b>Имя:</b> {{ employee.name }}</li>
            {% if employee.chief is not null %}
                <li><b>Начальник:</b> {{ employee.chief.name }}</li>
            {% endif %}
        </ul>
    {% endfor %}

    <nav aria-label="Page navigation example">
        <ul class="pagination">
            {% if currentPage > 1 %}
                <li class="page-item"><a href="?page={{ currentPage - 1 }}" class="page-link"
                                         href="#">{{ currentPage - 1 }}</a></li>
            {% endif %}
            <li class="page-item active"><a href="?page={{ currentPage }}" class="page-link"
                                            href="#">{{ currentPage }}</a></li>
            {% if currentPage != lastPage %}
                <li class="page-item"><a href="?page={{ currentPage + 1 }}" class="page-link"
                                         href="#">{{ currentPage + 1 }}</a></li>
            {% endif %}
        </ul>
    </nav>

{% endblock %}
